@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* @apply text-gray-500 dark:text-gray-400 text-sm bg-gray-100 dark:bg-gray-900 leading-normal;
    -webkit-font-smoothing: antialiased; */
    font-family: roboto;
  }

  h1,
  .h1 {
    @apply text-4xl font-bold text-gray-700;
  }

  h2,
  .h2 {
    @apply text-3xl font-bold text-gray-700;
  }

  h3,
  .h3 {
    @apply text-2xl font-semibold text-gray-700;
  }

  h4,
  .h4 {
    @apply text-xl font-semibold text-gray-700;
  }

  h5,
  .h5 {
    @apply text-lg font-semibold text-gray-700;
  }

  h6,
  .h6 {
    @apply text-base font-semibold text-gray-700;
  }

  hr {
    @apply border-gray-200;
  }

  p,
  .p {
    @apply text-base text-gray-700;
  }

  .heading-text {
    @apply text-gray-700;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
    margin-block: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #7c3aedc7;
    border-radius: 9999999px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #7c3aed;
  }

}

@layer base {
  :root {
    --background: 0 0% 100%; /*  #FFFFFF  */
    --foreground: 224 71.4% 4.1%; /*  #030712 */

    --card: 0 0% 100%; /*  #FFFFFF color  */
    --card-foreground: 224 71.4% 4.1%; /*  #030712 */

    --popover: 0 0% 100%; /*  #FFFFFF color  */
    --popover-foreground: 224 71.4% 4.1%; /*  #030712 */

    --primary: 262.1 83.3% 57.8%; /*  #7C3AED */
    --primary-foreground: 210 20% 98%; /*  #F9FAFB */

    --secondary: 220 14.3% 95.9%; /*  #F3F4F6 */
    --secondary-foreground: 220.9 39.3% 11%; /*  #111827 */

    --muted: 220 14.3% 95.9%; /*  #F3F4F6 */
    --muted-foreground: 220 8.9% 46.1%; /*  #6B7280 */

    --accent: 220 14.3% 95.9%; /*  #F3F4F6 */
    --accent-foreground: 220.9 39.3% 11%; /*  #111827 */

    --destructive: 0 84.2% 60.2%; /*  #EF4444 */
    --destructive-foreground: 210 20% 98%; /*  #F9FAFB */

    --border: 220 13% 91%; /*  #E5E8EB */
    --input: 220 13% 91%; /*  #E5E8EB */
    --ring: 262.1 83.3% 57.8%; /*  #7C3AED */
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
